{% extends 'accounts/base.html'%}
{% block content %}
    <div class="blog-main-content">
        <div class="blog-header">
            <h2>Log In</h2>
        </div>
        <div class="form-content">
            <form method='POST'>
                {% csrf_token %}
                {{form}}
                <input type="submit" class="btn-form size-30 fw" value="Log In">
            </form>
        </div>
        <div class="form-ending">
            <small>Need An Account? Register <a href="{% url 'users:register' %}">here</a></small>
        </div>
    </div>
{% endblock content %}